@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);

body {
  color: #2d3c49;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 300px;
}

img,
embed,
object,
video {
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

header.container {
  justify-content: space-between;
}

header {
  border-bottom: 3px solid #7d97ad;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

.logo {
  height: 80px;
  margin: 25px 10px;
  width: 80px;
}

.user-info {
  margin: 10px 0;
  padding: 0 10px 15px 0;
  text-align: right;
}

.name {
  font-size: 3rem;
  font-weight: 100;
  margin: 10px 0;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
}

.main-img {
  margin: 0 0 15px 0;
}

h2 {
  color: #7d97ad;
  flex: 0 1 100%;
  font-size: 2.0rem;
  font-weight: 400;
  margin: 25px 0 15px 15px;
  text-transform: capitalize;
}

.project {
  margin: 0 2% 25px 0;
  padding: 0 0 10px 0;
  text-align: center;
  width: 32%;
}

.project:nth-of-type(3n) {
  margin-right: 0;
}

h3 {
  font-size: 2.7rem;
  font-weight: 300;
  margin: 15px 0 10px 0;
  padding: 0 10px;
  text-transform: uppercase;
}

.description {
  padding: 0 10px;
}

a {
  color: #2d3c49;
  text-decoration: none;
}

.project:hover {
  background-color: #f0f0f1;
}

/*For tablet*/

@media screen and (max-width:800px) {
  .project:nth-of-type(3n) {
    margin-right: 2%;
  }

  .project {
    margin: 0 2% 25px 0;
    width: 49%;
  }

  .project:nth-of-type(2n) {
    margin-right: 0;
  }
}

/*For mobile*/

@media screen and (max-width:535px) {
  header.container {
    justify-content: flex-start;
  }

  .user-info {
    padding: 0 0 0 10px;
    text-align: left;
  }

  .logo {
    margin: 25px 10px 0 10px;
  }

  .project:nth-of-type(3n),
  .project:nth-of-type(2n) {
    margin-right: 0;
  }

  .project {
    margin: 0 0 30px 0;
    width: 100%;
  }
}
